.formModal{
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
}
.form-input-select{
    padding: 10px 5%;
    border: 1px solid  #ccc;
    border-radius: 25px;
    appearance: none;
}
.form-input-select:focus{
    outline: 2px solid  #ccc;
}
.form-modal-btns{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-modal-btns button{
    border: 1px solid #ccc;
    text-transform: uppercase;
    padding: 10px 5%;
    cursor: pointer;
}
.form-modal-btns button:nth-child(1){
    background-color: greenyellow;
}
.form-modal-btns button:nth-child(2){
    background-color: #aaa;
}
